#
# EmailAliases lets us cope with developers who use more
# than one address.
#
EmailAliases config/aliases

#
# EmailMap does the main work of mapping addresses onto
# employers.
#
EmailMap config/domain-map

#
# Use GroupMap to map a file full of addresses to the
# same employer
#
GroupMap config/xorg/group-map-ibm   IBM
GroupMap config/xorg/group-map-dah  DAH
GroupMap config/xorg/group-map-dtcc  DTCC
GroupMap config/xorg/group-map-lseg  LSEG
GroupMap config/xorg/group-map-hitachi  Hitachi
GroupMap config/xorg/group-map-independent  Independent
GroupMap config/xorg/group-map-soramitsu  Soramitsu

#
# Use FileTypeMap to map a file types to file names using regular
# regular expressions.
#
FileTypeMap config/filetypes.txt
